<li>
	{{name}}
{{#if devoured}}
	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
	DEVOUR!
	</button>
    {{/if}}

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>